<%= title t("edit_multi_host", name: @multi_host.full_hostname)  %>

<%= labelled_form_for :multi_host, @multi_host, :url => multi_host_settings_path(@multi_host), :html => {:method => :put} do |f| %>
  <%= error_messages_for 'multi_host' %>

  <div class="box tabular">
    <p><%= f.text_field :app_title %></p>
    <p><%= f.text_field :default_mail_from %></p>
    <p><%= f.text_field :internal_name %></p>

    <p><%= f.select :default_group_id, Group.all.map {|g| [g.name, g.id]}, include_blank: true %></p>
    <% if defined?(EasyUserType) %>
      <p><%= f.select :default_easy_user_type_id, EasyUserType.all.map {|g| [g.name, g.id]}, include_blank: true %></p>
    <% end %>

  </div>

  <%= submit_tag l(:button_save) %>
<% end %>
